* {
	margin: 0;
	padding: 0;
	font-size: 0.625rem;
}

@font-face {
  font-family: "PetitFleur";
  src: url("/fonts/PetitFleur.ttf") format("ttf");
       
}


header {
	border-bottom: solid 2px #000;
	width: 50%;
	margin: 6rem auto 0 auto;

}

main {
	width: 60%;
	margin: 1rem auto;
}

footer {
	margin: 6rem auto 3rem auto;
	width: 100%;
}

.header__pagetitle {
	font-size: 5rem;
	font-family: "Averia Serif Libre", cursive;
	text-align: center;

}

.header__subtitle {
	font-size: 2rem;
	font-family: "Pinyon Script", sans-serif;
	font-weight: 500;
	margin: 10px auto 0 auto;
	width: 70%;
	text-align: center;
}

.header__nav {
	font-family: "Catamaran", sans-serif;
	display: flex;
    justify-content: center;
    margin: 3rem 0 1.5rem 0;
    list-style: none;
}

.nav__link {
	font-size: 1.6rem;
	font-weight: 700;
	padding: 0 3rem;
    text-decoration: none;

}

.nav__link:visited {
	color:  #000;
}

.nav__link:hover {
	/* border-bottom: 1px dotted #000; */
	background-color: #000;
	color: #fff;
}
.main__titles {
	font-size: 3rem;
	font-family: "Averia Serif Libre", cursive;
	margin-left: 3rem;
	padding: 5rem 0 0 0;
}

.main__titles--right {
	text-align: right;
	padding-right: 4rem;
}

.main__p {
	font-size: 1.6rem;
	font-family: "Catamaran", sans-serif;
	text-align: justify;
	padding: 2rem 0 0 0;
}

.main__p::first-letter {

  font-weight: bold;
  font-family: "Averia Serif Libre";
  /* line-height: 3rem; */
  font-size: 3rem;
  padding-right: 0.5rem;
}


.main__img {
	width: 30%;
}

.main__img--ryan {
	display:  float;
	float: left;
	margin: 3rem 2rem 0 1rem;
}

.main__img--hide {
	display:  float;
	float: right;
	margin: 3rem 1rem 0 2rem;
}

.main__img--shining {
	display:  float;
	float: left;
	margin: 3rem 2rem 0 1rem;
}

.footer__p {
	font-size: 1.6rem;
	font-family: "Catamaran", sans-serif;
	margin:  0 auto;
	text-align: center;
	width: 50%;
	padding: 1rem 0 1rem 0;
	border-top:  2px solid #000;
	border-bottom:  2px solid #000;
	color: #4C4C4CFF;
}